body 
{
    background-image: linear-gradient(to right top, #4d4d4d, #4d4d4d, #4d4d4d, #4d4d4d, #4d4d4d);
}

#d1 
{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 450px;
    margin-right: 40px;
    background-color: rgb(128, 128, 128);
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    text-align: center;
}

img 
{
    margin-top: 10;
    margin-bottom: 10;
}

#login_button 
{
     margin-bottom: 10;
}
